<dir class="continer p-3" >
    <dir class="row">
        <dir class="form-group">
        {{#each links}}
        <div class="card-header text-bolder text-darker" >
            {{first_name}}
            {{last_name}}
        </div>

        <div class="card-body">
            <h5 class=" car-text">
                {{emailAddress}}
                {{position}}               

            </h5>
            <a href="" class="btn btn-primary">Select</a>
            <a href="" class="btn btn-info">Info</a>
        </div>        

        {{/each}}
        </dir>
    </dir>
</dir>
